[Unit]
Description=Minecraft Server
After=network.target
Wants=network.target

[Service]
User=vagrant
Group=vagrant
Type=forking
PIDFile=/opt/minecraft/service.pid
KillMode=none
SuccessExitStatus=0 1
NoNewPrivileges=true
PrivateTmp=true
InaccessibleDirectories=/root /sys /srv /opt /media /lost+found
ReadWriteDirectories=/opt/minecraft
WorkingDirectory=/opt/minecraft

ExecStart=/usr/bin/screen -h 1024 -dmS vagrant /opt/minecraft/launch.sh
ExecStop=/opt/minecraft/stop.sh

[Install]
WantedBy=multi-user.target
