[Unit]
Description=Minecraft Server
After=network.target
Wants=network.target

[Service]
User=vagrant
Group=vagrant
Type=forking
#PIDFile=/opt/minecraft/service.pid
KillMode=none
#ExecStartPre=/bin/sleep 30
TimeoutSec=900
SuccessExitStatus=0 1
NoNewPrivileges=true
PrivateTmp=true
InaccessibleDirectories=/home
ReadOnlyDirectories=/bin /lib /usr /etc /
ReadWriteDirectories=/opt/minecraft
WorkingDirectory=/opt/minecraft

ExecStart=/opt/minecraft/launch.sh
ExecStop=/opt/minecraft/stop.sh

[Install]
WantedBy=multi-user.target
